ChatGLM-6B/ptuning/train.json
output_med2/adgen-chatglm-6b-pt-128-1e-2/checkpoint-1000/optimizer.pt
output_med2/adgen-chatglm-6b-pt-128-1e-2/checkpoint-1000/pytorch_model.bin
output_med2/adgen-chatglm-6b-pt-128-1e-2/checkpoint-2000/optimizer.pt
output_med2/adgen-chatglm-6b-pt-128-1e-2/checkpoint-2000/pytorch_model.bin
output_med2/adgen-chatglm-6b-pt-128-1e-2/checkpoint-3000/pytorch_model.bin
